

///CSS RESETING
header, nav, main, footer {
    max-width: 1200px;
    margin: auto;
}



///NAV AND HEADER CSS
   nav {
    
     ul li {
        flex-basis: auto;
        }
   
        
     a {
        padding: .6rem 1rem;
        }
    }

    div#headerWrapper {
        background-image: url(../Images/Frisbee_Header_Image-assets/header_large-min.jpg);
        height: 250px;
        background-size: cover;
    }



///MAIN CSS 
    div.news {
        column-count: 3;
    }


    main {
        div.card {
            flex-basis: 29%;
        }
    }
  