div#headerWrapper {
    background-image: url(../Images/Frisbee_Header_Image-assets/header_large-min.jpg);
    height: 250px;
    background-size: cover;
}
   nav {
    
     ul li {
        flex-basis: auto;
        }
   
        
     a {
        padding: .6rem 1rem;
        }
    }


    header, nav, main, footer {
        max-width: 1200px;
        margin: auto;
    }


    div#frisbeeGallery figure {
        flex-basis: 23%;
    }

   
    div.news {
        column-count: 3;
    }
  