

///CSS RESETING
header, nav, main, footer {
    max-width: 1024px;
    margin: auto;
}



///NAV AND HEADER CSS
   nav ul li a{
        padding: .8rem 2rem;
    
    }

    div#headerWrapper {
        background-image: url(../Images/Frisbee_Header_Image-assets/header_large-min.jpg);
        height: 250px;
        background-size: cover;
    }



///MAIN CSS 
    div.news {
        column-count: 3;
    }


    main {

        @for $i from 1 through 12 {
            $w: ($i / 12) * 100%;
            .large-#{$i} {flex-basis: $w;}
        }

        div.card {
            flex-basis: 29%;
        }
    }



    div.storyGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        span {
            font-size: 1rem;
        }
    
        .lead {
            grid-column: 1 / span 3;
            grid-row: 1 / span 2;
        }
    }

    div#footerGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  