
  
  
  ///NAV AND HEADER CSS
  nav ul {
    display: flex;
    justify-content: space-evenly;
    
 
    
    ul li {
    flex-basis: auto;

   
}

a {
    width: 150%;
    }

}

  div#headerWrapper {
    background-image: url(../Images/Frisbee_Header_Image-assets/header_medium-min.jpg);
    height: 250px;
}

div#headerInfo {
    flex-wrap: wrap;
}

  


///MAIN CSS

main {

    @for $i from 1 through 12 {
        $w: ($i / 12) * 100%;
        .medium-#{$i} {flex-basis: $w;}
    }


    div.card {
        flex-basis: 46%;
    }

    
}



div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px black solid;
    padding-top: 3rem;
    }
