
  
  nav ul {
        display: flex;
        justify-content: space-evenly;
        
     
        
        ul li {
        flex-basis: auto;
   
       
    }

    a {
        width: 150%;
        border-top:2px solid $primaryColor;
        border-right:2px solid darken($primaryColor, 30%);
        border-bottom:2px solid $primaryColor;
        border-left:2px solid lighten($primaryColor, 40%);
        }

}

div.heroimage {
    width: 100%;
    height: auto;
    figure {
        width: 100%;
        height: auto;
    }
}

div#frisbeeGallery figure {
    flex-basis: 46%;
}

div#headerInfo {
    flex-wrap: wrap;
}

    main figure {
        float: right;
        width: 48%;
        margin-left: 2%;
        padding-bottom: 2%;
    }

    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px black solid;
        padding-top: 3rem;
    }



