
  div#headerWrapper {
    background-image: url(../Images/Frisbee_Header_Image-assets/header_medium-min.jpg);
    height: 250px;
}
  
  
  nav ul {
        display: flex;
        justify-content: space-evenly;
        
     
        
        ul li {
        flex-basis: auto;
   
       
    }

    a {
        width: 150%;
        }

}

div.heroimage {
    width: 100%;
    height: auto;
    figure {
        width: 100%;
        height: auto;
    }
}

div#frisbeeGallery figure {
    flex-basis: 46%;
}

div#headerInfo {
    flex-wrap: wrap;
}

    main figure {
        float: right;
        width: 48%;
        margin-left: 2%;
        padding-bottom: 2%;
    }

    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px black solid;
        padding-top: 3rem;
    }



