
  
  
  ///NAV AND HEADER CSS
    
  nav button {display: none;}

  nav ul.hide {display:block;}

  nav ul {

    margin-left: 2%;


    li {
   float: left;

    a {
       border: none;
       border-right: 1px solid darken($primaryColor, 10%);
       padding: .8rem 1rem;
   }
}


}



  div#headerWrapper {
    background-image: url(../Images/Frisbee_Header_Image-assets/header_medium-min.jpg);
    height: 250px;
}

div#headerInfo {
    flex-wrap: wrap;
}



div.cards {
    column-count: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

div.indCard {
    width: 50%;
    height: auto;
}
  


///MAIN CSS

main {

    @for $i from 1 through 12 {
        $w: ($i / 12) * 100%;
        .medium-#{$i} {flex-basis: $w;}
    }


    div.card {
        flex-basis: 46%;
    }

    
}

div.storyGrid {
    grid-template-columns: 1fr 1fr 1fr;

    span {
        font-size: 1rem;
    }

    .lead {
        grid-column: 1 / span 3;
        padding-bottom: 5rem;
    }

}



div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px black solid;
    padding-top: 3rem;
    }

    div#footerGrid {
        grid-template-columns: 1fr 1fr;
    }
