@media only screen and (max-width: 560px) {
    .h2hidden {
      display: none;
    }

    header {
        justify-content: center;
    }
  }


/* body rules */
body {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: $regularWeight;
}


/* header rules */

div#headerWrapper {
   /* background-color: $primaryColor; */
}

header {
  
    padding: 1rem 2%;
    display: flex;
    align-items: center;

    figure {
        margin: 0;
        padding-right: 20px;
    }

    h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: $heavyWeight;
    }//end of h1

    h2 {
        margin: 0;
        font-weight: $regularWeight;
    }//end of h2

} //end of header



/* navigation rules */
#navWrapper {
     background-color: $primaryColor; 
}
nav {
  

 ul {
    margin-bottom: 10px;
    padding: 0;
    }

 li {
    list-style-type: none;
    }

 li.active a {
    background-color: darken($primaryColor, 20%);
    }

 a {
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
    background-color: lighten($primaryColor, 10%);
    border-bottom: 2px solid $primaryColor;
    }

 a:hover {
     background-color: darken($primaryColor, 10%);
}

}//end of nav


/* main rules */

div.maininfo {
    padding: 1rem 2%;
}
main {
    
    display: block;
    margin-left: 5px;

 h1 {
    color: $primaryColor;
    font-weight: $heavyWeight;
}

 figure img {
    width: 100%;
}

 figure {
    width: 100%;
    margin: 0;
}

 figcaption {
    text-align: center;
    font-size: .8rem;
}

div#frisbeeGallery figcaption{
    size: 3rem;
    padding-bottom: 1.5rem;
}



div#frisbeeGallery {
    display: flex;
    flex-wrap: wrap;
    figcaption {
        text-align: center;
        font-size: 1rem;
    }
}   

}//end of main

div.news p {
    margin-top: 0;
    padding-bottom: 5px;
}


/* footer rules */

div#footerWrapper {
    background-color: $primaryColor;
}
footer {
    text-align: center;
    padding: 1rem 2%;
 
}