
@media only screen and (max-width: 560px) {
    .h2hidden {
      display: none;
    }

    header {
        justify-content: center;
    }
  }





///CSS BODY
body {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: $regularWeight;
}
///END BODY





///CSS HEADER




header {
    background: url(../Images/Utah/Utah3.jpg) no-repeat;
    display: flex;
    align-items: flex-end;
    color: white;
    height: 120px;


    h1 {
        margin: 2%;
        font-size: 1.5rem;
        font-weight: $heavyWeight;
    }//end of h1

    h2 {
        margin: 2%;
        font-weight: $regularWeight;
    }//end of h2

} 

///END HEADER





///CSS NAVIGATION
nav {
    background-image: linear-gradient($primaryColor, rgb(223, 222, 222));

    button {
        margin: 0 2%;
        background-color: transparent;
        border: none;
        font-size: 1.8rem;
        color: white;
    }
  

 ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    }

    ul.hide {display:none;}

 li {
    list-style-type: none;
    }

 li.active a {
    background-image: linear-gradient($primaryColor, $primaryColor);
    }

 a {
    display: block;
    padding: .8rem 0;
    color: black;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient($primaryColor, rgb(223, 222, 222));
    border-top: 1px solid darken($primaryColor, 15%);
    }

 a:hover {
    background-image: linear-gradient($primaryColor, $primaryColor);
}

}
///END NAVIGATION





///CSS MAIN
div.wrapperCard {
    display: flex;
    flex-wrap: wrap;

}
div.card {
    border: 1px solid #999;
    flex-basis: 100%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: $cardRadius;
        img {
            height: auto;
            width: 30%;
        }

        section {
            background-color: $primaryColor;
            color: #eee;
            margin-bottom: 1rem;
            padding: 1rem 0;
            font-size: 24px;
            border-top-left-radius: $cardRadius - 1;
            border-top-right-radius: $cardRadius - 1;
        }

        p {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        a {
            display: block;
            background-color: $primaryColor;
            padding: $cardRadius;
            margin: 1rem 4vw;
            border-radius: $cardRadius;
        }

        a:hover {
            background-color: lighten($primaryColor, 10%);
        }


}
div.card:hover img {
    animation: move 3s 1;
    }
    img {
        position: relative;
    }

    @keyframes move {
        0% {left: 0px; transform: rotate(0deg); animation-timing-function: ease-out;}
        25% {right: 75px;  transform: rotate(100deg); animation-timing-function: ease-in;}
        50% {right: 200px;  transform: rotate(150deg); animation-timing-function: ease-out;}
        75% {left: 75px;  transform: rotate(200deg); animation-timing-function: ease-in;}
        100% {left: 0px; transform: rotate(-30deg); animation-timing-function: ease-out; }
    }
/*End of Shop Main */


div.maininfo {
    padding: 1rem 2%;
}
main {
    
    display: block;
    margin-left: 5px;

 h1 {
    color: $primaryColor;
    font-weight: $heavyWeight;
}

 picture img {
    width: 50%;
    float: right;
    padding-left: 2rem;
    padding-bottom: 2%;
}

 picture {
    width: 100%;
    margin: 0;
}

div#pictureTag {
    text-align: center;
    font-size: .8rem;
}
}

div#heroImage {
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    justify-content: center;
}


h3 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1.5rem;
    padding-top: 2%;
}

div.news p {
    margin-top: 0;
    padding-bottom: 5px;
}
/*End of index main*/


div#mainathletecards {
    display: flex;
    padding-bottom: 5%;
    
    img {
        max-width: 70%;
    }

    div#round {
        padding-right: 2%;
        padding-left: 2%;
        border-right:solid rgba(48, 61, 71, 0.911);
        margin-top: 2%;
        margin-bottom: 2%;

        img {
        float: right;
        shape-outside: circle(45% at 100px);
        clip-path: circle(45% at 100px);
        margin: .5rem;
        }
    }

    div#triangle {
        padding-right: 2%;
        padding-left: 2%;
        border-right:solid rgba(70, 78, 85, 0.911);
        margin-top: 2%;
        margin-bottom: 2%;
            img {
                float: right;
                shape-outside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 40% 50%, 0% 0%);
                clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 40% 50%, 0% 0%);
                margin: .5rem;
             }
    }
    div#cross {
        padding-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        img {
        float: right;
        shape-outside: polygon(0 0, 80% 0%, 70% 100%);
        clip-path: polygon(0 0, 80% 0%, 70% 100%);
        margin: .5rem;
        }
    }
    div#arc {
        padding-right: 2%;
        padding-left: 2%;
        border-right:solid rgba(48, 61, 71, 0.911);
        margin-top: 2%;
        margin-bottom: 2%;
        img {
        float: right;
        shape-outside: circle(85% at 100% 0%);
        clip-path: circle(85% at 100% 0%);
        margin: .5rem;
    }
}
}
div#topathletemain {
    background-color: rgba(137, 166, 190, 0.712);
}

/*End of Top Athlete Main */



div.flexed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h3 {
        padding-top: 5%;
    }

    img {
        width:100%;
    }
}


div#topAthletes {
    display: flex;
    justify-content: center;
}

.column {padding: 0 $gutter}

@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}
}

.cards {
    border: 2px solid black;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    margin-bottom: .5rem;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: $primaryColor;
    border-radius: $cardRadius;
    a:hover {color: white;}
}

.review {
    background-color: $light;
    display: block;
    display: flex;
    justify-content: center;
    margin: 1%;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-bottom: 5%;

    a {
        color: white;
        text-decoration: none;
    }
}

#fixing {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 100%;
}

.blogs {
    border: 2px solid black;
    margin: 1%;
    margin-bottom: 5%;

    img {
        max-width: 200px;
        height: auto;
        padding-top: 5%;
    }
}

.lmbutton {
    background-color: $primaryColor;
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;

}


.faq {
    border: 2px solid black;
    margin: 1%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;

}

/* End of Columns Main*/

div.storyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;


    span {
        display: block;
        text-align: center;
        font-size: 2rem;
    }

    .teaser, .lead {
        padding: .5rem 2vw;
    }

    .teaser img, .lead img {
        width: 100%;
    }

    .lead {
        grid-column: 1 / span 2;
        font-size: 10rem;
        font-weight: 1000;
    }
}

/*END OF NEWS MAIN*/

.social {
    display: flex;
    padding: 1rem 0;
    justify-content: center;

    a {
        flex-basis: 10%;
        text-align: center;
        font-size: 2.5rem;
        text-decoration: none;
        color: white;
    }

    a:hover {color: darken($color: $primaryColor, $amount: 20%);}
}

/* End social Icons*/




form fieldset {
    margin: 2rem 0;
    border: 1px solid darken($primaryColor, 10%);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: darken($primaryColor, 10%);
    font-weight: 600;
    margin: 0 1rem;
    padding: 0 .5rem;

}

form label.top {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    border: 1px solid darken($primaryColor, 20%);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,.1);
    margin-bottom: 1rem;
}

form label.sbs input, form label.sbs select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    border: 1px solid darken($primaryColor, 20%);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,.1);
    margin-bottom: 1rem;
}

form label.choice {
    font-size: 1.3rem;
    padding: 1rem 1rem;
    margin: 1rem .5rem;
}

 div.radioText {
    font-weight: 1000;
    font-size: 1.2rem;
}

form input.submitBtn {
    border: none;
    background-color: $primaryColor;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;

}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}


/*END OF FORM FOR SHOP*/

div#thanksPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.mySlider {
    width:100%;
    height: auto;

}

div.cards {
    border: none;
}

div.cards a:hover {
    background: none;
    text-shadow: 0 0 8px black;
}



div.cards div:nth-child(1) {
    background-image: url("../Images/HoverCards/Dining-Hover.jpg");
    text-align: center;
    background-repeat: no-repeat;
}

div.cards div:nth-child(1) a {
    background-color: rgb(211, 211, 94);

}


div.cards div:nth-child(2) {
    background-image: url("../Images/HoverCards/City-Hover.jpg");
    text-align: center;
    background-repeat: no-repeat;
}

div.cards div:nth-child(2) a {
    background-color: blue;
}

div.cards div:nth-child(3) {
    background-image: url("../Images/HoverCards/Bus-Hover.jpg");
    text-align: center;
    background-repeat: no-repeat;
}

div.cards div:nth-child(3) a {
    background-color: green;
}

div.cards div:nth-child(4) {
    background-image: url("../Images/HoverCards/Stay-Hover.jpg");
    text-align: center;
    background-repeat: no-repeat;
}

div.cards div:nth-child(4) a {
    background-color: purple;
}


div.cards a {
    display: block;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 10% 2%;
    transition: all .5s ease-in;
    color: white;
    height: 163px;
}


///END MAIN




///CSS FOOTER

footer {
    justify-content: center;
    text-align: center;
    padding: 1rem 2%;
    background-color: $primaryColor;

    
 
}

div.social {
        padding: 1rem 0;
}

div#footerGrid {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
padding: 2vw;
}

///END FOOTER



/*CLEAR FIX - STOPS ELEMENTS FROM COLLAPSING*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}