@media only screen and (max-width: 560px) {
    .h2hidden {
      display: none;
    }

    header {
        justify-content: center;
    }
  }


/* body rules */
body {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: $regularWeight;
}


/* header rules */

div#headerWrapper {
    background-image: url(../Images/Frisbee_Header_Image-assets/header_small-min.jpg);
    height: 175px;
}

header {
    padding: 4rem 2%;
    display: flex;
    align-items: center;
    color: white;

    figure {
        margin: 0;
        padding-right: 20px;
    }

    h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: $heavyWeight;
    }//end of h1

    h2 {
        margin: 0;
        font-weight: $regularWeight;
    }//end of h2

} //end of header



/* navigation rules */
#navWrapper {
    background-color: darken($primaryColor, 10%);
}
nav {
  

 ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    }

 li {
    list-style-type: none;
    }

 li.active a {
    background-color: darken($primaryColor, 20%);
    }

 a {
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
    background-color: lighten($primaryColor, 10%);
    border-bottom: 2px solid $primaryColor;
    }

 a:hover {
     background-color: darken($primaryColor, 10%);
}

}//end of nav


/* main rules */
div.wrapperCard {
    display: flex;
    flex-wrap: wrap;

}
div.card {
    border: 1px solid #999;
    flex-basis: 100%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: $cardRadius;
        img {
            height: auto;
            width: 30%;
        }

        section {
            background-color: $primaryColor;
            color: #eee;
            margin-bottom: 1rem;
            padding: 1rem 0;
            font-size: 24px;
            border-top-left-radius: $cardRadius - 1;
            border-top-right-radius: $cardRadius - 1;
        }

        p {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        a {
            display: block;
            background-color: $primaryColor;
            padding: $cardRadius;
            margin: 1rem 4vw;
            border-radius: $cardRadius;
        }

        a:hover {
            background-color: lighten($primaryColor, 10%);
        }


}
div.card:hover img {
    animation: move 3s 1;
    }
    img {
        position: relative;
    }

    @keyframes move {
        0% {left: 0px; transform: rotate(0deg); animation-timing-function: ease-out;}
        25% {right: 75px;  transform: rotate(100deg); animation-timing-function: ease-in;}
        50% {right: 200px;  transform: rotate(150deg); animation-timing-function: ease-out;}
        75% {left: 75px;  transform: rotate(200deg); animation-timing-function: ease-in;}
        100% {left: 0px; transform: rotate(-30deg); animation-timing-function: ease-out; }
    }
    
div.maininfo {
    padding: 1rem 2%;
}
main {
    
    display: block;
    margin-left: 5px;

 h1 {
    color: $primaryColor;
    font-weight: $heavyWeight;
}

 picture img {
    width: 50%;
    float: right;
    padding-left: 2rem;
    padding-bottom: 2%;
}

 picture {
    width: 100%;
    margin: 0;
}

div#pictureTag {
    text-align: center;
    font-size: .8rem;
}

div#frisbeeGallery figcaption{
    padding-bottom: 1.5rem;
}



div#frisbeeGallery {
    display: flex;
    flex-wrap: wrap;
    figcaption {
        text-align: center;
        font-size: 1rem;
    }
}

div#galleryMain figure {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    position: relative;
    margin:0;
}
div#galleryMain figure image {
    width: 100%;
    height: auto;
    position: absolute;
}

}//end of main

div.news p {
    margin-top: 0;
    padding-bottom: 5px;
}


/* footer rules */

div#footerWrapper {
    background-color: $primaryColor;
}
footer {
    text-align: center;
    padding: 1rem 2%;
 
}

div#heroImage {
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    justify-content: center;
}

div#mainathletecards {
    display: flex;
    padding-bottom: 5%;
    
    img {
        max-width: 70%;
    }

    div#round {
        padding-right: 2%;
        padding-left: 2%;
        border-right:solid rgba(48, 61, 71, 0.911);
        margin-top: 2%;
        margin-bottom: 2%;

        img {
        float: right;
        shape-outside: circle(45% at 100px);
        clip-path: circle(45% at 100px);
        margin: .5rem;
        }
    }

    div#triangle {
        padding-right: 2%;
        padding-left: 2%;
        border-right:solid rgba(70, 78, 85, 0.911);
        margin-top: 2%;
        margin-bottom: 2%;
        img {
        float: right;
        shape-outside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 40% 50%, 0% 0%);
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 40% 50%, 0% 0%);
        margin: .5rem;
        }
    }
    div#cross {
        padding-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        img {
        float: right;
        shape-outside: polygon(0 0, 80% 0%, 70% 100%);
        clip-path: polygon(0 0, 80% 0%, 70% 100%);
        margin: .5rem;
        }
    }
    div#arc {
        padding-right: 2%;
        padding-left: 2%;
        border-right:solid rgba(48, 61, 71, 0.911);
        margin-top: 2%;
        margin-bottom: 2%;
        img {
        float: right;
        shape-outside: circle(85% at 100% 0%);
        clip-path: circle(85% at 100% 0%);
        margin: .5rem;
    }
}
}

h3 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1.5rem;
    padding-top: 2%;
}

div#topathletemain {
    background-color: rgba(137, 166, 190, 0.712);
}
