 ///CSS RESETING
header, nav, main, footer {
    max-width: 1024px;
    margin: auto;
}



///NAV AND HEADER CSS
   nav ul li a{
        padding: .8rem 2rem;
    
    }

    div#headerWrapper {
        background-image: url(../../Images/Frisbee_Header_Image-assets/header_large-min.jpg);
        height: 250px;
        background-size: cover;
    }

    .main-content {
        width: 75rem;
        grid-template-areas:
            "h1 h1 h1"
            "ipad-h3 ipad-h3 ipad-h3"
            "ipad-p ipad-p ipad-img"
            "sony-img sony-h3 sony-h3"
            "sony-img sony-p sony-p"
            "surface-h3 surface-h3 surface-h3"
            "surface-p surface-p surface-img"
        ;
    }
    
    .sony {
        display: flex;
        flex-direction: column;
        grid-area: sony;
        h3 {
            margin-bottom: 20px;
        }
    }
  
    .medNav {
        display: none;
    }

    .smallNav {
        display: none;
    }

    