header {
    display: flex;
    justify-content: center;
    background: url(../../Images/Utah/Utah3.jpg) no-repeat;
    align-items: flex-end;
    color: white;
    height: 120px;
}
nav {
    background-image: linear-gradient(rgb(59, 147, 199), rgb(223, 222, 222));

    button {
        margin: 0 2%;
        background-color: transparent;
        border: none;
        font-size: 1.8rem;
        color: white;
    }
  

 ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    }

    ul.hide {display:none;}

 li {
    list-style-type: none;
    }

 li.active a {
    background-image: linear-gradient(rgb(59, 147, 199), rgb(59, 147, 199));
    }

 a {
    display: block;
    padding: .8rem 0;
    color: black;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(rgb(59, 147, 199), rgb(223, 222, 222));
    border-top: 1px solid darken(rgb(59, 147, 199), 15%);
    }

 a:hover {
    background-image: linear-gradient(rgb(59, 147, 199), rgb(59, 147, 199));
}

}
///END NAVIGATION



footer {
    justify-content: center;
    text-align: center;
    padding: 1rem 2%;
    background-color: rgb(59, 147, 199);

    
 
}

div.social {
        padding: 1rem 0;
}

div#footerGrid {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
padding: 2vw;
}

///END FOOTER



/*CLEAR FIX - STOPS ELEMENTS FROM COLLAPSING*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



.main-content {
    width: 100%;
    display: grid;
    grid-template-areas:
        "h1"
        "ipad-h3"
        "ipad-img"
        "ipad-p"
        "sony-h3"
        "sony-img"
        "sony-p"
        "surface-h3"
        "surface-img"
        "surface-p";
    img {
        width: 100%;
        height: auto;
    }
}

.h1 {
    grid-area: h1;
}
.ipad-h3 {
    grid-area: ipad-h3;
}
.ipad-img {
    grid-area: ipad-img;
}
.ipad-p {
    grid-area: ipad-p;
}
.sony-h3 {
    grid-area: sony-h3;
}
.sony-img {
    grid-area: sony-img;
}
.sony-p {
    grid-area: sony-p;
}
.surface-h3 {
    grid-area: surface-h3;
}
.surface-img {
    grid-area: surface-img;
}
.surface-p {
    grid-area: surface-p;
}

