/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: $primaryColor;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}


/*----------- FOOTER --------------*/
footer {
    background-color: $primaryColor;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid darken($primaryColor, 10%);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: darken($primaryColor, 10%);
    font-weight: 600;
    margin: 0 1rem;
    padding: 0 .5rem;

}

form label.top {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    border: 1px solid darken($primaryColor, 20%);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,.1);
    margin-bottom: 1rem;
}

form label.sbs input, form label.sbs select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    border: 1px solid darken($primaryColor, 20%);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,.1);
    margin-bottom: 1rem;
}

form label.choice {
    font-size: 1.3rem;
    padding: 1rem 1rem;
    margin: 1rem .5rem;
}

 div.radioText {
    font-weight: 1000;
    font-size: 1.2rem;
}

form input.submitBtn {
    border: none;
    background-color: $primaryColor;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;

}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}
