$priamryColor: #ddd;
//these two variables control the background color and text color
$menuColor: #56F;
$menuTextColor: rgba(255,255,255,0.9);

$primaryColor: rgb(59, 147, 199);

$fontFamily:'Maven Pro', sans-serif;

$regularWeight: 400;
$heavyWeight: 600;

$gutter: 5%;

$cardRadius: 10px;

$gutter: 1vw;

$light: #2e3338;

