.pageWrapper {
    grid-template-areas: 
    "header header"
    "navigation main"
    "footer footer";

    grid-template-columns: 150px auto;
}





/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
a.myjump {
    display: none;
}

nav {
    height: auto;
}

/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
.ipadWhole {
    margin-bottom: 10rem;
}
.ipad-img {
    float: right;
    padding-left: 0 5% 0 5%;
}

.sony-img {
    float: left;
    padding-right: 5%;
}

.surface-img {
    float: right;
    padding-left: 5%;
}