header,nav, section,.cardsinfo, .bottomCards {
    max-width: 64rem;
    margin:auto;
}
   
header, nav {
    width: 100%;
}



/*----------- BODY --------------*/

.mainBanner {
    column-count: 2;
    display: flex;
    justify-content: center;
}

.first {
    margin-right: 6%;
    text-align: left;
    padding-bottom: 3%;
}

.second {
    margin-right: 5%;
    text-align: right;
    font-weight: 800;
}


div.cards {
    column-count: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.card {
    width: 100%;
    height: auto;
}

/*----------- HEADER --------------*/


/*----------- NAVIGATION --------------*/

a.myjump {
    display: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    height: auto;
}

.icons {
    float: none;
    padding-right: 5%;
    margin-bottom: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav ul li {
    flex-basis: auto;

    a {
        display: flex;
        padding: .6rem;  
        align-items: center;  
    }
}

/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/



.cards h2 {
    padding: none;
}

.bottom {
    width: 95% ;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "infra tech" 
        "live ad";
}