header,nav, .comps {
    max-width: 64rem;
    margin:auto;
}
.pageWrapper {
        margin:auto;
        grid-template-areas: 
        "header"
        "navigation"
        "main"
        "footer";
    
        grid-template-columns: auto auto;
    }

   
header, nav {
    width: 100%;
}

.medNav {
    display: none;
}




/*----------- BODY --------------*/

.mainBanner {
    column-count: 2;
    display: flex;
    justify-content: center;
}

.first {
    margin-right: 6%;
    text-align: left;
    padding-bottom: 3%;
}

.second {
    text-align: right;
    font-weight: 800;
}


/*----------- HEADER --------------*/

header {
    border-bottom: rgba(138, 137, 137, 0.719) 1px solid;
}

/*----------- NAVIGATION --------------*/
a.myjump {
    display: none;
}

nav {
    height: auto;
}

.icons {
    float: none;
    padding-right: 5%;
    margin-bottom: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav ul li {
    flex-basis: auto;

    a {
        display: flex;
        padding: .6rem;  
        align-items: center;  
    }
}

/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/


 .comps {
     column-count: 2;
 }


