@import "variables";
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    border-bottom: rgba(138, 137, 137, 0.719) 1px solid;
    grid-area: header;
    padding: .5rem 2%;
    padding-bottom: 0;
    h1 {margin: 0;}
    h2 {margin: 0; font-weight: normal; color: rgb(136, 136, 136); letter-spacing: .85rem; }
}

.headerInfo {
    display: flex;
    align-items: center;
}

.headerWords {
    display: flex;
    padding-left: 2%;
    flex-direction: column;
}

nav {
    display: none;
}

/*----------- NAVIGATION --------------*/
a.myjump{
    display: block;
    width: 60px;
    color: rgba(88, 86, 86, 0.7);
    font-size: 1.7rem;
    padding: .4rem;
    text-decoration: none;
    padding-left: 2%;
}

nav {
    grid-area: navigation;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    flex-basis: 33.3%;
}
nav ul li a {
    display: block;
    color: rgba(88, 86, 86, 0.7);
    padding: .5rem 0;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: rgba(255,255,255,0.4);
    color: #000;
}
nav ul li.active a {
    color: rgb(0, 0, 0);
}


/*----------- HAMBURGER --------------*/
div#hamburger {
    grid-area: hamburger;
    background-color: rgba(88, 86, 86, .3); 
}


/*----------- MAIN --------------*/
main {
    grid-area: main;
    min-height: 10rem;
    h1 {margin: 0; padding: 1rem 0 0 0;}
    p {margin: 0; padding: .5rem 0;}

}

.mainimage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
figure {
    width: 100%;
    height: auto;
}



/*----------- FOOTER --------------*/
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    background: rgb(148, 233, 131);
    background: linear-gradient(0deg, rgb(2, 69, 107) 0%, rgb(4, 128, 177) 80%);
    padding: .5rem 2%;
    text-align: center;
    color: white;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.icons {
    padding-right: 2%;
    font-size: 1.5rem;
}

.mainBanner {
    width: 100%;
    background-color: #111118;
    h2 {
        color: #fdd831;
    }
    p{
        color: white;
    }
    ul{
        color: white;
        margin-left: 2rem;
    }
}

section {
    columns: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
        width: 20%;
        height: auto;
        margin: .5rem 1rem;
    }
}

.first {
    padding-top: 2%;
    margin-left: 5%;
}

.second {
    margin-left: 5%;
    padding-bottom: 2%;
}

.icons {
    float: none;
    padding-right: 5%;
    margin-bottom: 0;
}

.cardsinfo h2 {
    font-weight: 300;
    padding-left: 1%;
    color: #0480b1;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}
div.card {
    max-width: 210px;
    border: 1px solid #999;
    flex-basis: 100%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    margin-bottom: 2rem;
        img {
            height: auto;
            width: 100%;
        }

        p {
            text-align: left;
            padding: 2%;
            font-size: 13px;
        }

        h2 {
            text-align: left;
            padding-left: 2%;
        }
    }

    .bottom {
        width: 95% ;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "infra" 
            "tech" 
            "ad" 
            "live";
        margin-top: 30px;
        div {
            img {
                width: 100%;
                height: auto;
            }
            h3 {
                color: $prime;
                font-family: $font;
                padding-left: 2%;
            }
            p {
                font-family: $font;
                padding-left: 2%;
            }
        }
    }

    #infra {
        grid-area: infra;
    }
    #tech {
        grid-area: tech;
    }
    #live {
        grid-area: live;
    }
    #ad {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        border-radius: 5px;
        grid-area: ad;
        height: auto;
    }
    .growth {
        margin-top: 3px;
    }
    
    .growth-btn {
        width: 50%;
        height: 40px;
        color: white;
        background: $prime;
        border: none;
        border-radius: 5px;
        margin-top: 8px;
        cursor: pointer;
        transition: ease-in-out 0.2s;
        font-family: $font;
        &:hover {
            background: darken($prime, 10%);
        }
    }