/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


.pageWrapper {
    display: grid;
    grid-template-areas: 
    "hamburger"
    "header"
    "main"
    "footer"
    "navigation";
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    grid-area: header;
    padding: .5rem 2%;
    padding-bottom: 0;
    h1 {margin: 0;}
    h2 {margin: 0; font-weight: normal; color: rgb(136, 136, 136); letter-spacing: .85rem; }
}

.headerInfo {
    display: flex;
    align-items: center;
}

.headerWords {
    display: flex;
    padding-left: 2%;
    flex-direction: column;
}



/*----------- NAVIGATION --------------*/
a.myjump{
    display: block;
    width: 60px;
    color: rgba(88, 86, 86, 0.7);
    font-size: 1.7rem;
    padding: .4rem;
    text-decoration: none;
    padding-left: 2%;
}

nav {
    grid-area: navigation;
    height: 100vh;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
nav ul li {
    flex-basis: 33.3%;
}
nav ul li a {
    display: block;
    color: rgba(88, 86, 86, 0.7);
    padding: .5rem 0;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: rgba(255,255,255,0.4);
    color: #000;
}
nav ul li.active a {
    color: rgb(0, 0, 0);
}


/*----------- HAMBURGER --------------*/
div#hamburger {
    grid-area: hamburger;
    background-color: rgba(88, 86, 86, .3); 
}


/*----------- MAIN --------------*/
main {
    grid-area: main;
    min-height: 10rem;
    h1 {margin: 0; padding: 1rem 0 0 0;}
    p {margin: 0; padding: .5rem 0;}

}

.mainimage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
figure {
    width: 100%;
    height: auto;
}



/*----------- FOOTER --------------*/
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    background: rgb(148, 233, 131);
    background: linear-gradient(0deg, rgb(2, 69, 107) 0%, rgb(4, 128, 177) 80%);
    padding: .5rem 2%;
    text-align: center;
    color: white;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.icons {
    padding-right: 2%;
    font-size: 1.5rem;
}

.mainBanner {
    width: 100%;
    background-color: #111118;
    h2 {
        color: #fdd831;
    }
    p{
        color: white;
    }
    ul{
        color: white;
        margin-left: 2rem;
    }
}

.comps {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin: .5rem 1rem;
        column-count: 3;
        column-gap: 40px;

    }
}